<div class="content">
    <header>
        <h5 id="categoryName" class="subtitle">{{categoryName}}</h5>
        <h3  class="title">{{item.name}}</h1>
        <div>
            <div>
                [código de barras: <span  id="itemId">{{item.id}}</span>]                
            </div>
            <div>
                [Costo: <span  id="itemCost">${{item.cost}}</span>]
            </div>
            <div>
                [Precio: <span  id="itemPrice">${{item.price}}</span>]
            </div>
            <div>
                [Ganancia: <span  id="itemGain">{{item.gain}}</span>]
            </div>
        </div>
        <a id="backButton" class="back">Regresar</a>
    </header>
    <section>
        <table>
            <thead>
                <tr>
                    <th>Sistema</th>
                    <th>Real</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{item.qtySys}}</td>
                    <td><input type="number" min="0" max="99999" name="qtyReal" id="qty" value="{{item.qtyReal}}" class="qtyReal"/></td>
                </tr>
            </tbody>
        </table>
    </section>
    <footer>
        Guardar valor y...
        <div class="itemOptions">
            {{#if itemBefore}}
                <div class="itemBefore">
                    <a id="iBefore" name="{{itemBefore.id}}">anterior: {{itemBefore.name}}</a>
                </div>
            {{/if}}
            <div class="save">
                <a id="save">Solo guardar</a>
            </div>
            {{#if itemAfter}}
                <div class="itemAfter">
                    <a id="iAfter" name="{{itemAfter.id}}">siguiente: {{itemAfter.name}}</a>
                </div>
            {{/if}}
        </div>
    </footer>
</div>


<script src="/js/showDataItem.js"></script>
<script src="/js/ajaxMethods.js"></script>