<div class="content">
    <header>
        <h5 id="categoryName" class="subtitle">{{categoryName}}</h5>
        <h3  class="title">{{item.name}}</h1>
        <p>[código de barras: <span  id="itemId">{{item.id}}</span>]</p>
        <a id="backButton" class="back">Regresar</a>
    </header>
    <section>
        <table>
            <thead>
                <tr>
                    <th>Sistema</th>
                    <th>Real</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{item.qtySys}}</td>
                    <td><input type="number" name="qtyReal" id="qty" value="{{item.qtyReal}}" class="qtyReal"/></td>
                </tr>
            </tbody>
        </table>
        <button type="button" id="save">Guardar</button>
    </section>
</div>


<script src="/js/showDataItem.js"></script>
<script src="/js/ajaxMethods.js"></script>